@charset "utf-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 초기화 */
* {
    margin: 0;
    padding: 0;
}

li { list-style: none; }
a { text-decoration: none; color: #000; }
.hidden { position: absolute; left: -9999px; }

body {
    min-width: 1200px;
}

/* 헤더 */
#header {
    position: fixed; top: 0; left: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    background: #fff;
    /* min-width: 1000px; */
}

#header h1 {
    width: 235px;
    height: 53px;
    padding: 23px 30px;
    text-indent: -9999px;
    /* box-sizing: border-box; */
}

#header h1 a{
    display: block;
    width: 235px;
    height: 53px;
    background: url(./images/m_logo2.png) no-repeat center/contain;
}

/* 내비게이션 */
/* 주메뉴 */
#gnb {
    position: absolute; top: 0; left: 30%;
    width: 800px;
    height: 100px;
    overflow: hidden;
}

#gnb>ul {
    width: 100%;
}

#gnb>ul>li {
    float: left;
    width: 160px;
}

#gnb>ul>li>a {
    display: block;
    height: 100px; line-height: 100px; text-align: center;
    font-size: 20px; font-weight: bold;
    /* border: 1px solid #000; */
    /* background: lightblue; */
}

/* 서브메뉴 */
#gnb ul.snb {
    width: 200px;
    background: #fda788;
    /* border: 1px solid #000; */
    /* display: block; */
    display: none;
}

#gnb ul.snb1 {
    /* display: block; */
}

#gnb ul.snb li {
    height: 30px; line-height: 30px;
    text-align: center;

}
/* 메인_고양문화유산 */
#content1 {
}

#content1 {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    margin: 0 auto;
}
/* 슬라이드1 */
#content1_1 {
    position: relative;
    margin-top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    /* background: #92b47b; */
}

#cont1_1slideWrap {
    margin: 0 auto;
    width: 80%;
    height: 100%; overflow: scroll;
}

#cont1_1slideWrap>ul {
    display: flex;
    width: 300%;
    height: 100%;
    overflow: hidden;
}

#cont1_1slideWrap>ul li {
    float: left;
    width: 100%; height: 100%;
    background: no-repeat center/cover;
    position: relative;
}

#cont1_1slideWrap>ul li::before {
    content: "";
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#cont1_1slideWrap>ul li.slide1 {
    background-image: url(./images/slide1.jpg);
}

#cont1_1slideWrap>ul li.slide2 {
    background-image: url(./images/slide2.jpg);
}

#cont1_1slideWrap>ul li.slide3 {
    background-image: url(./images/slide3.jpg);
}

#cont1_1slideWrap>ul li a {
    display: block;
    width: 100%; height: 100%;
    color: #fff; text-align: center;
    font-family: "twaysky",sans-serif;
}

#cont1_1slideWrap>ul li a div.slideTxt {
    position: relative; top: calc(50% - 90px);
}

#cont1_1slideWrap>ul li a div.slideTxt p.title {
    font-size: 100px;
}

#cont1_1slideWrap>ul li  div.slideTxt p:last-child {
    margin-top: 20px;
    font-size: 50px;
}

/* 슬라이드1 버튼 */
#cont1_1btn {
    position: absolute; bottom: 50px; left: calc(50% - 90px);
    width: 180px; height: 20px;
    z-index: 50;
}

#cont1_1btn li {
    float: left;
    margin: 0 20px;
}

#cont1_1btn li a {
    display: block;
    width: 20px; height: 20px; border-radius: 50%;
    background-color: #fff;
    text-indent: -9999px;
}

#cont1_1btn li a.on {
    /* border-radius: 40%;
    width: 30px;
    눌렀을 때 길이 변하는 거 보류 */
    background-color: #ffd050;
}


/* 발간자료실 */

#content1_2 {
    /* background: #fda788; */
    width: 100%;
    height: 100vh;
    text-align: center;
    min-height: 800px;
    padding-top: 100px; box-sizing: border-box;
    background: url(./images/content1_2_bg_3.jpg) no-repeat center / cover;
}

#content1_2Wrap {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding-top: 100px; box-sizing: border-box;
}

#content1_2Wrap>h3 {
    position: absolute; top: 150px; right: 50px;
    width: 500px; text-align: center; font-family: "twaysky", serif;
    font-size: 80px; color: #fff;
}

/* e-book */
#main_book {
    display: block;
    width: 450px;
    height: 549px;
    background: url(./images/e_book1.png) no-repeat center / cover;
    text-indent: -9999px;
}

#cont1_2_slideWrap {
    position: absolute; bottom: 50px; right: 0;
    width: 570px;
    overflow: hidden;
}
#bookWrap {
    width: 950px;
}
#bookWrap li {
    float: left;
    width: 150px; margin: 20px;
}
#bookWrap li a { 
    display: block;
    height: 183px;
    background: no-repeat center/ cover; 
    text-indent: -9999px;
}

#bookWrap li:first-child a { background-image: url(./images/e_book1.png);}
#bookWrap li:nth-child(2) a { background-image: url(./images/e_book2.png);}
#bookWrap li:nth-child(3) a { background-image: url(./images/e_book3.png);}
#bookWrap li:nth-child(4) a { background-image: url(./images/e_book4.png);}
#bookWrap li:last-child a { background-image: url(./images/e_book5.png);}

/* 발간자료실(content1_2) 버튼 */
#cont1_2btn {
    width: 200px;
    overflow: hidden;
    position: absolute; top: 250px; right: 340px;
}

#cont1_2btn a {
    display: block;
    width: 80px; height: 80px;
    background: no-repeat center / cover;
    float: left;
    margin: 10px;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: #fff;
}

#cont1_2btn a.cont1_prev {
    background-image: url(./images/cont1_prev.png);
}
#cont1_2btn a.cont1_next {
    background-image: url(./images/cont1_next.png);
}

/* 이색전시관(content2) */
#content2 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
    min-height: 500px;
}

#content2 h3 {
    font-size: 80px;
    font-family: "twaysky",sans-serif;
    font-weight: bold;
    padding-top: 100px; text-align: center;
}

#cont2slideWrap {
    width: 100%; overflow: scroll;
}

#content2 ul {
    display: flex;
    width: 200%; min-width: 1200px;
    margin: 0 auto;
}

#content2 ul li {
    width: 100%;
    margin: 20px;
    background:no-repeat center/cover;
}

#content2 ul li:first-child { background-image: url(./images/museum1.jpg); }
#content2 ul li:nth-child(2) { background-image: url(./images/museum2.jpg); }
#content2 ul li:nth-child(3) { background-image: url(./images/museum3.jpg); }
#content2 ul li:nth-child(4) { background-image: url(./images/museum4.jpg); }
#content2 ul li:nth-child(5) { background-image: url(./images/museum5.jpg); }
#content2 ul li:nth-child(6) { background-image: url(./images/museum6.jpg); }
#content2 ul li:nth-child(7) { background-image: url(./images/museum7.jpg); }
#content2 ul li:last-child { background-image: url(./images/museum8.jpg); }

#content2 ul li a {
    display: block;
    width: 100%;
    height: 60vh;
}

/* 이색전시관 버튼 */
#content2>a {
    position: absolute; top: 120px;
    display: block;
    width: 50px; height: 50px;
    background: no-repeat center/cover;
    text-indent: -9999px;
}

#content2 a.cont2_prev { left: 100px; background-image:  url(./images/cont2_prev.png); }
#content2 a.cont2_next { right: 100px; background-image: url(./images/cont2_next.png); }

/* 배너 */
#banner a {
    display: block;
    width: 100%;
    height: 300px;
    text-indent: -9999px;
    background:url(./images/banner.png) no-repeat center/cover;
}

/* 문화체험(content3) */
#content3 {
    position: relative;
    width: 100%;
    height: 100vh; min-height: 800px;
    /* background: #ccc;  */
    text-align: center;
    background: url(./images/cont3_bg.jpg) no-repeat center /cover;
}

#content3 h3 {
    position: absolute; top: 230px; left: calc(50% - 600px);
    font-family: "twaysky",sans-serif;
    font-size: 100px; color: #999;
    /* text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff */
}

#cont3Wrap {
    position: absolute; top: calc(50% - 200px); left: calc(50% - 600px);
    display: flex;
    width: 1200px; margin: 30px auto 0;
    height: 400px;
}

/* more */
#cont3Wrap>a {
    position: absolute; bottom: 20px; right: 50px; color: #00a2ff; font-weight: bold;
}

#cont3img {
    padding-top: 130px; box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    /* background: #fda788; */
    border-right: 3px dotted #888;
}

#cont3img li {
    width: 30%;
}

#cont3img li a {
    padding: 20px;
    display: block;
    height: 200px;
    background: no-repeat center/cover;
    text-indent: -9999px;
}

#cont3img li:first-child a { background-image: url(./images/cont3_img1.jpg); }
#cont3img li:nth-child(2) a { background-image: url(./images/cont3_img2.jpg); }
#cont3img li:last-child a { background-image: url(./images/cont3_img3.jpg); }

/* content3 공지사항 */
#cont3_notice {
    display: table;
    padding-top: 10px; box-sizing: border-box;
    width: 600px;
    height: 100%;
    font-family: "Cafe24Ssurround",sans-serif;
    /* background: #ffd050; */
}

#cont3_notice li {
    width: 500px;
    margin: 0 auto;
    /* background: #fda788; */
    border-bottom: 1px solid #888;
    /* text-align: left; */
    font-size: 14px;
}

#cont3_notice li a {
    text-indent: 10px;
    display: block;
    font-size: 20px; text-align: left;
    height: 50px; line-height: 50px;
    /* background: #fff; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px dotted #888;
}

#cont3_notice li a>span{
    font-size: 25px; color: #00a2ff; font-weight: bold; font-family: "twaysky", serif;
}

/* 재미있는 동영상(content4) */
#content4 { 
    position: relative;
    width: 100%; height: 350px; 
    /* background-color: #00a2ff;  */
}

#cont4slideWrap {
    width: 80%; margin: 0 auto;
    padding-top: 60px;
}
#content4 ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border: 3px solid #ccc;
}
#content4 ul li { 
    width: 15%; 
    height: 150px;
    background: no-repeat center /cover;
    border: 2px solid #f0f0f0;
}

/* 제이쿼리로 이미지 넣을지 말지 고민... */
#content4 ul li:first-child {
    background-image: url(./images/cont4img1.png);
}

#content4 ul li:nth-child(2) {
    background-image: url(./images/cont4img2.PNG);
}

#content4 ul li:nth-child(3) {
    background-image: url(./images/cont4img3.png);
}

#content4 ul li:nth-child(4) {
    background-image: url(./images/cont4img4.jpg);
}

#content4 ul li:nth-child(5) {
    background-image: url(./images/cont4img5.PNG);
}

#content4 ul li a {
    display: block; width: 100%; height: 150px;
}

/* cont4 숫자 버튼 */
#cont4_btn1 {
    position: absolute;
    bottom: 50px; left: calc(50% - 60px);
    width: 120px;
    display: flex;
    justify-content: space-around;
}

#cont4_btn1 a {
    display: block;
    /* padding-top: 2px; */
    width: 30px; height: 30px; line-height: 30px;
    text-align: center; background-color: #fff; color: #505050;
    border: 2px solid #505050;
    border-radius: 50%;
    /* font-weight: bold; */
}

#cont4_btn1 a.cont4_on {
    background-color: #505050;
    color: #fff;
}

/* cont4 이전,다음 */
#cont4_btn2 a {
    position: absolute;
    background: no-repeat center/cover;
    bottom: 55px;
    display: block; width: 20px; height: 20px;
    text-indent: -9999px;
}

#cont4_btn2 a.cont5_prev {
    left: calc(50% - 100px);
    background-image: url(./images/cont4_prev.png);
}

#cont4_btn2 a.cont5_next {
    right: calc(50% - 100px);
    background-image: url(./images/cont4_next.png);
}

/* content5 */
#content5 {
    width: 100%;
    height: 100vh;
    background-color: bisque;
}

/* aside */
#aside {
    position: fixed; bottom: 0; right: 0;
    z-index: 999;
}
#sitemap {
    background: yellow;
}


